@import "tailwindcss";

@theme {
  --default-font-family: "Lato", serif;

  --color-blue-100: #2E3DA3;
  --color-blue-200: #5165E1;
  --color-blue-300: #8996EB;

  --color-gray-100: #151619;
  --color-gray-200: #1E2024;
  --color-gray-300: #535964;
  --color-gray-400: #858B99;
  --color-gray-500: #E3E5E8;
  --color-gray-600: #F9FAFA;

  --color-red-100: #D03E3E;
  --color-pink-100: #CC3D6A;
  --color-blue-100: #355EC5;
  --color-green-100: #508B26;

  --text-xxs: 0.625rem;
}